wifi_ssid: "your_wifi_ssid"
wifi_password: "your_wifi_password"
fallback_password: "fallback_password"
hass_api_password: "your_long_generated_api_password"
ota_password: "your_ota_password"
encryption_key: "your_encryption_key"